.env

__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
*.env
*.DS_Store
*.egg-info/
.db
*.db
*.db/
venv/

# Ignore local database files
# explicit DB name (if present)
sql_app.db
# common DB file patterns
*.db
*.sqlite
*.sqlite3
*.db-journal
*.sqlite-journal
*.db-wal
*.db-shm
